.progress 
{
  display: none;
  position:relative; 
  width:100%; 
  border: 1px solid #ddd; 
  padding: 1px; 
  border-radius: 3px; 
}
.bar 
{ 
  background-color: #B4F5B4; 
  width:0%; 
  height:20px; 
  border-radius: 3px; 
}
.percent 
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}

.media-menu{
  border: 1px solid gray;
  border-left: unset;
  border-right: unset;
}

.media-menu ul {
  list-style: none;
  padding-bottom: 2px;
}
.media-menu ul li {
  display: inline-block;
  font-size: 25px;
}

.media_thumb_selected{
  border: 2px solid #88c1f4;
}